
@import "variables";

$primary: $safety-orange-blaze-orange;
$seconday: $cultured;

//HEADER & FOOTER
header, footer {
    background-color: $onyx;
    color: $cultured;
}

.nav-foot-item {
    color: white;
    
    &:hover{
      color: $safety-orange-blaze-orange;
        margin-left: 10px;
    }
}

//NAVBAR
.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

#navbarNav{
    background-color: $onyx;
}

.navbar-nav{
    width: 800px;
    padding: 10px;
    background-color: $cultured;
}

.nav-link-main{
    color: $onyx;
    text-decoration: none;
    margin: 10px;

    &:hover{
        color: $safety-orange-blaze-orange;
    }

}

.active{
    color:$primary;
}

//Customer

#CustomerContainer{
    background-color: black;
}

.customerPic{
    width: 100px;
    height: 100px;
}

.CU_card {
    min-height: 100px;
}



@import "../../node_modules/bootstrap/scss/bootstrap.scss";